<% let currentDate = new Date(); %>
<% let currentYear = currentDate.getFullYear(); %>
<footer class="bg-[#07050c]">
    <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="md:flex md:justify-between">
            <div class="mb-6 md:mb-0">
                <a href="/" class="flex items-center">
                    <img src="./assets/logo.svg" class="h-8 me-3" alt="FlowBite Logo" />
                    <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">LinkedInk</span>
                </a>
                <p class="mt-2 text-gray-400 text-sm mb-15 cursor-pointer">Made by: Rushil Sharma & Aditya Suri</p>
            </div>
            <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase text-white">About</h2>
                    <ul class="text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="/why-linkedink" class="hover:underline">Why LinkedInk</a>
                        </li>
                        <li>
                            <a href="/about-us" class="hover:underline">About Us</a>
                        </li>
                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase text-white">Follow me</h2>
                    <ul class="text-gray-400 font-medium">
                        <li class="mb-4">
                            <a target="_blank" href="https://github.com/CodeWithRushil"
                                class="hover:underline ">Github</a>
                        </li>
                        <li>
                            <a target="_blank" href="https://linkedin.com/in/CodeWithRushil"
                                class="hover:underline">LinkedIn</a>
                        </li>

                    </ul>
                </div>
                <div>
                    <h2 class="mb-6 text-sm font-semibold uppercase text-white">Legal</h2>
                    <ul class="text-gray-400 font-medium">
                        <li class="mb-4">
                            <a href="/privacy-policy" class="hover:underline">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="/terms" class="hover:underline">Terms &amp; Conditions</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-6 border-gray-700 sm:mx-auto lg:my-8" />
        <div class="sm:flex sm:items-center sm:justify-between">
            <span class="text-sm text-gray-400 sm:text-center">© <%= currentYear %> <a href="/"
                    class="hover:underline">LinkedInk™</a>. All Rights Reserved.
            </span>
            <div class="flex mt-4 sm:justify-center sm:mt-0 items-center">
                <a href="https://instagram.com/rushil.in"
                    class="text-gray-500 hover:text-white text-lg" target="_blank">
                    <i class="ri-instagram-line"></i>
                    <span class="sr-only">Instagram Profile</span>
                </a>
                <a href="https://reddit.com/u/CodeWithRuvian"
                    class="text-gray-500 hover:text-white ms-5 text-lg" target="_blank">
                    <i class="ri-reddit-line"></i>
                    <span class="sr-only">Reddit Profile</span>
                </a>
                <a href="https://x.com/CodeWithRushil"
                    class="text-gray-500 hover:text-white ms-5 text-lg" target="_blank">
                    <i class="ri-twitter-x-line"></i>
                    <span class="sr-only">Twitter page</span>
                </a>
                <a href="https://github.com/CodeWithRushil"
                    class="text-gray-500 hover:text-white ms-5 text-lg" target="_blank">
                    <i class="ri-github-fill"></i>
                    <span class="sr-only">GitHub Account</span>
                </a>
                <a href="https://linkedin.com/in/CodeWithRushil"
                    class="text-gray-500 hover:text-white ms-5 text-lg" target="_blank">
                    <i class="ri-linkedin-fill"></i>
                    <span class="sr-only">LinkedIn Account</span>
                </a>
            </div>
        </div>
    </div>
</footer>