<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.css"
  integrity="sha512-kJlvECunwXftkPwyvHbclArO8wszgBGisiLeuDFwNM8ws+wKIw0sv1os3ClWZOcrEB2eRXULYUsm8OVRGJKwGA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<nav class="bg-[#07050c] fixed w-full z-20 top-0 start-0 border-b-[0.1px]  border-gray-600">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
    <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
      <img src="./assets/logo.svg" class="h-8" alt="LinkedInk Logo">
      <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">LinkedInk</span>
    </a>
    <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
      <a target="_blank" href="https://x.com/CodeWithRushil"
        class="flex items-center gap-2 bg-gradient-to-r from-[#6e50b9] to-[#4a22a8] hover:from-[#2d1363] hover:to-[#1c0b45] text-white font-medium rounded-lg text-sm px-4 py-2 text-center transition duration-300 shadow-md">
        <span class="hidden min-[551px]:inline">Follow Me</span>
        <i class="ri-twitter-x-line"></i>
      </a>
      <button data-collapse-toggle="navbar-sticky" type="button"
        class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-400 rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-gray-600 hover:bg-black"
        aria-controls="navbar-sticky" aria-expanded="false">
        <span class="sr-only">Open main menu</span>
        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
          <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
        </svg>
      </button>
    </div>
    <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1" id="navbar-sticky">
      <ul
        class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-black rounded-lg bg-[#07050c] md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-[#07050c]">
        <li>
          <a href="/"
            class="block py-2 px-3 text-white rounded-sm hover:bg-[#07050c] md:hover:bg-transparent md:hover:text-[#6c37f1]-700 md:p-0 md:hover:text-[#6c37f1] hover:text-white md:hover:bg-transparent border-black"
            aria-current="page">Home</a>
        </li>
        <li>
          <a href="/generate-post"
            class="block py-2 px-3 text-white rounded-sm hover:bg-[#07050c] md:hover:bg-transparent md:hover:text-[#6c37f1]-700 md:p-0 md:hover:text-[#6c37f1] hover:text-white md:hover:bg-transparent border-black">Posts</a>
        </li>
        <li>
          <a href="/generate-hashtags"
            class="block py-2 px-3 text-white rounded-sm hover:bg-[#07050c] md:hover:bg-transparent md:hover:text-[#6c37f1]-700 md:p-0 md:hover:text-[#6c37f1] hover:text-white md:hover:bg-transparent border-black">Hashtags</a>
        </li>
      </ul>
    </div>
  </div>
</nav>